.sensors-grid {
  display: flex;
  flex-direction: column;
}

.sensor-item {
  display: flex;
  padding: 1rem;
  align-items: center;
  box-shadow: 0 4px 6px -6px black;
  justify-content: space-around;
}

.sensor-value {
  font-size: 1rem;
}

.icon {
  font-size: 4rem;
  padding-right: 1rem;
  min-width: 4rem;
  text-align: center;
}

.icon.light {
  color: #DDDB68;
}

.icon.moisture {
  color: #8EBDDB;
}

.icon.temp {
  color: #E56969;
}

.icon.fertility {
  color: #82641B;
}

.label {
  font-size: 1.5rem;
  color: #636363;
  flex-grow: 1;
  text-align: right;
}

.sensor-friendly-status.good {
  font-weight: bold;
}

.plant-description {
  display: flex;
  padding: 2rem;
  align-items: center;
}

.plant-name {
  padding: 2rem;
  text-align: right;
  font-size: 1.5rem;
}
